    </div>
    <footer>
        Inspired by Colt Steele | <strong>2018</strong>
        <br />
        <div class="text-right">
            Made by Kenny John
        </div>
    </footer>
    </body>
</html>
